section.repository-list {
  margin: 2.5rem;

  h1 {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;

    li {
      & + li {
        // & todos os li que são anteriores de li possuem a margem
        margin-top: 1.25rem;
      }

      p {
        font-size: 0.874rem;
        color: #444;
        margin-top: 0.5rem;
      }

      a {
        display: inline-block;
        margin-top: 1rem;
        text-decoration: none;
        color: #8257e6;
      }
    }
  }
}
